<footer>
  <p>
  
    Developed by: <%= link_to 'Ethiraj Srinivasan', 'https://www.google.co.in/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=0CC0QFjAA&url=http%3A%2F%2Fin.linkedin.com%2Fpub%2Fethiraj-srinivasan%2F21%2F182%2F54&ei=cMmKU8X3D8-gugTJ5oFI&usg=AFQjCNGH2KWVVCk2S4DULNJmfQp4nvcbCw&sig2=BWk5wbJNkERwmxFuwoDAOg&bvm=bv.67720277,d.c2E' %>
  </p>
</footer>